.bg-caurosal{
    background: #c7edee;
}
.bg-footer{
    background-color:#000000;
    height: 400px;
}
.footer-highlight{
    color:#eaecec;
}
.footer-small-text{
    color: rgba(224, 221, 221, 0.829);
}
hr{
    border: 4px solid black;
}
