body{
    font-family: 'Poppins', sans-serif;
}
.bg-caurosal{
    background: #c7edee;
}
.bg-footer{
    background-color:#000000;
}
.footer-highlight{
    color:#eaecec;
}
.footer-small-text{
    color: rgba(224, 221, 221, 0.829);
}
.mb-3 input{
    border: none;
   
}
.mb-3 textarea {
    border: none;
}
.mb-3{
    border-bottom: 1px solid rgba(22, 21, 21, 0.856);
}
